.logo-1-icon {
  height: 47.1px;
  width: 186.6px;
  position: relative;
  object-fit: cover;
}
.logo-1-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 21.7px;
}
.made-easy-now,
.platform-migration {
  margin: 0;
}
.platform-migration-made-container {
  margin: 0;
  width: 550px;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.advanced-tool-ensuring,
.streamline-platform-migration {
  margin: 0;
}
.streamline-platform-migration-container {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-3xl);
  color: var(--color-whitesmoke-400);
}
.platform-migration-made-easy-n-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 34px;
  max-width: 100%;
}
.get-started {
  align-self: stretch;
  position: relative;
  font-weight: 500;
  white-space: nowrap;
}
.get-started-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 5px 0 0;
}
.frame-child {
  height: 40px;
  width: 35px;
  position: relative;
  border-radius: var(--br-41xl);
  background-color: var(--color-cadetblue);
  border: 1px solid var(--color-whitesmoke-200);
  box-sizing: border-box;
  display: none;
}
.arrow-alt-lright-icon {
  height: 30.6px;
  width: 35px;
  position: relative;
  object-fit: contain;
  z-index: 1;
}
.rectangle-parent {
  height: 40px;
  width: 35px;
  border-radius: var(--br-41xl);
  background-color: var(--color-cadetblue);
  border: 1px solid var(--color-whitesmoke-200);
  flex-direction: row;
  padding: 9.4px 0 0;
}
.frame-container,
.frame-group,
.rectangle-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.frame-container {
  width: 209px;
  border-radius: var(--br-41xl);
  background-color: var(--color-cadetblue);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-5xs) 15px;
  gap: var(--gap-9xl);
  font-size: var(--font-size-xl);
  color: var(--color-whitesmoke-400);
}
.frame-group {
  align-self: stretch;
  flex-direction: column;
  padding: 0 0 18.5px;
  gap: 47.4px;
  min-height: 550px;
  max-width: 100%;
  flex-shrink: 0;
}
.experience-hassle-free,
.transform-your-software {
  position: relative;
  display: inline-block;
  max-width: 100%;
}
.experience-hassle-free {
  margin: 0;
  width: 541.6px;
  height: 381.1px;
  font-size: 60px;
  font-weight: 400;
  font-family: inherit;
  flex-shrink: 0;
}
.transform-your-software {
  flex: 1;
}
.transform-your-software-seamle-wrapper {
  width: 612.2px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 33.9px;
  box-sizing: border-box;
  max-width: 100%;
  flex-shrink: 0;
  font-size: var(--font-size-3xl);
  color: var(--color-whitesmoke-400);
}
.visit-migrator {
  position: relative;
  font-weight: 500;
}
.visit-migrator-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2.5px 0 0;
}
.frame-item {
  position: absolute;
  top: 35px;
  left: 0;
  border-radius: var(--br-41xl);
  background-color: var(--color-cadetblue);
  border: 1px solid var(--color-whitesmoke-200);
  box-sizing: border-box;
  width: 35px;
  height: 40px;
  transform: rotate(-90deg);
  transform-origin: 0 0;
  cursor: pointer;
}
.frame-inner {
  position: absolute;
  top: 11.5px;
  left: 11.4px;
  width: 15.3px;
  height: 12.1px;
  object-fit: contain;
  z-index: 1;
}
.rectangle-group {
  height: 35px;
  width: 40px;
  position: relative;
}
.for-dev-inner,
.frame-div,
.frame-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-div {
  border-radius: var(--br-41xl);
  background-color: var(--color-cadetblue);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-3xs) 18px;
  gap: 13px;
  font-size: var(--font-size-xl);
  color: var(--color-whitesmoke-400);
}
.for-dev-inner,
.frame-parent {
  flex-direction: column;
  box-sizing: border-box;
  max-width: 100%;
}
.frame-parent {
  align-self: stretch;
  padding: 0 0 20px.9px;
  gap: var(--gap-mid);
}
.for-dev-inner {
  flex: 1;
  padding: 7.5px 0 0;
  min-width: 406px;
}
.user-add-alt-icon {
  width: 40px;
  height: 36.8px;
  position: relative;
  cursor: pointer;
}
.user-add-alt-wrapper {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xs) var(--padding-3xs);
  background-color: var(--color-cadetblue);
  border-radius: var(--br-41xl);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.user-circle-icon {
  height: 40px;
  width: 40px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  cursor: pointer;
}
.user-circle-wrapper {
  height: 56px;
  width: 60px;
  border-radius: var(--br-41xl);
  background-color: var(--color-cadetblue);
  overflow: hidden;
  flex-shrink: 0;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-3xs);
  box-sizing: border-box;
}
.frame-parent2,
.frame-wrapper,
.user-circle-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.frame-parent2 {
  justify-content: flex-start;
  gap: 15.8px;
}
.frame-wrapper {
  align-self: stretch;
  justify-content: flex-end;
}
.image-1-icon {
  align-self: stretch;
  height: 217.8px;
  position: relative;
  border-radius: var(--br-11xl);
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  display: none;
}
.frame-wrapper1,
.image-1-wrapper {
  display: flex;
  flex-direction: column;
}
.image-1-wrapper {
  align-self: stretch;
  height: 217.8px;
  border-radius: var(--br-11xl);
  align-items: center;
  justify-content: center;
  background-image: url(./public/image-30@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.frame-wrapper1 {
  flex: 1;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1.7px 0 0;
  box-sizing: border-box;
  min-width: 172px;
}
.div {
  width: 52px;
  position: absolute;
  margin: 0 !important;
  top: 20px;
  left: 43.5px;
  display: inline-block;
}
.p {
  margin: 0;
}
.h2 {
  margin: 0 !important;
  height: 71.8px;
  width: 51px;
  position: absolute;
  top: 32.6px;
  left: 104.5px;
  font-size: 70px;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
}
.features,
.premium {
  margin: 0;
}
.premium-features {
  width: 159.4px;
  position: absolute;
  margin: 0 !important;
  top: 123px;
  left: 19.8px;
  font-size: var(--font-size-11xl);
  font-weight: 600;
  text-align: center;
  display: inline-block;
}
.frame-parent4,
.parent {
  display: flex;
  flex-direction: row;
}
.parent {
  height: 215px;
  width: 199px;
  border-radius: var(--br-11xl);
  background-color: var(--color-cadetblue);
  overflow: hidden;
  flex-shrink: 0;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xl);
  box-sizing: border-box;
  position: relative;
  gap: 6px 9px;
  min-width: 199px;
}
.frame-parent4 {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 33.4px;
}
.accelerate-success {
  margin-block-start: 0;
  margin-block-end: 10px;
}
.with-tesla {
  margin: 0;
}
.accelerate-success-with-container {
  position: relative;
  font-weight: 600;
}
.accelerate-success-with-tesla-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-sm) 0 0;
}
.rectangle-div {
  width: 47.3px;
  flex: 1;
  position: relative;
  background-color: #6d7377;
}
.rectangle-wrapper {
  height: 102px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-33xl) 0 0;
  box-sizing: border-box;
}
.frame-child1 {
  width: 47.3px;
  flex: 1;
  position: relative;
  background-color: #494b4d;
}
.rectangle-container {
  height: 102px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 30.5px 0 0;
  box-sizing: border-box;
}
.frame-child2 {
  height: 102px;
  width: 47.3px;
  position: relative;
  background-color: #31363f;
}
.frame-parent3,
.frame-parent5 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent5 {
  border-radius: var(--br-11xl);
  background-color: var(--color-cadetblue);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-11xl) 27px;
  font-size: var(--font-size-13xl);
}
.frame-parent3 {
  align-self: stretch;
  flex-direction: column;
  padding: 0 1px 79.5px 0;
  gap: 37.5px;
}
.frame-child3 {
  align-self: stretch;
  height: 250px;
  position: relative;
  border-radius: var(--br-11xl);
  background-color: var(--color-cadetblue);
  display: none;
  z-index: 0;
}
.language-to-language,
.rectangle-icon {
  width: 249.2px;
  height: 150.6px;
  position: absolute;
  margin: 0 !important;
  top: 99.4px;
  left: 249.2px;
  z-index: 1;
}
.language-to-language {
  width: 443.4px;
  height: 129.3px;
  top: 27.2px;
  left: 27.4px;
  display: inline-block;
  z-index: 2;
}
.frame-child4,
.rectangle-parent1 {
  align-self: stretch;
  height: 250px;
  position: relative;
  border-radius: var(--br-11xl);
  background-color: var(--color-cadetblue);
}
.rectangle-parent1 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}
.frame-child4 {
  display: none;
  z-index: 0;
}
.frame-child5,
.sql-to-no-sql {
  width: 249.2px;
  height: 150.6px;
  position: absolute;
  margin: 0 !important;
  top: 99.4px;
  left: 249.2px;
  z-index: 1;
}
.sql-to-no-sql {
  width: 443.4px;
  height: 129.3px;
  top: 34.8px;
  left: 37.1px;
  display: inline-block;
  z-index: 2;
}
.frame-child6,
.rectangle-parent2 {
  align-self: stretch;
  height: 250px;
  position: relative;
  border-radius: var(--br-11xl);
  background-color: var(--color-cadetblue);
}
.rectangle-parent2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}
.frame-child6 {
  display: none;
  z-index: 0;
}
.frame-child7,
.operating-system-to {
  width: 249.2px;
  height: 150.6px;
  position: absolute;
  margin: 0 !important;
  top: 99.4px;
  left: 249.2px;
  z-index: 1;
}
.operating-system-to {
  width: 443.4px;
  height: 129.3px;
  top: 34.8px;
  left: 37.1px;
  display: inline-block;
  z-index: 2;
}
.frame-parent6,
.rectangle-parent3 {
  align-self: stretch;
  flex-direction: column;
}
.rectangle-parent3 {
  height: 250px;
  border-radius: var(--br-11xl);
  background-color: var(--color-cadetblue);
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  position: relative;
}
.frame-parent6 {
  gap: 39px;
  font-size: var(--font-size-21xl);
  font-family: var(--font-kanit);
}
.for-dev,
.frame-parent1,
.frame-parent6 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent1 {
  width: 504.9px;
  flex-direction: column;
  gap: 65.5px;
  min-width: 504.9px;
  max-width: 100%;
  font-size: 80px;
  font-family: var(--font-libre-franklin);
}
.for-dev {
  width: 100%;
  position: relative;
  height: 1600px;
  background-color: var(--color-gray-100);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-16xl-5) var(--padding-39xl-4) 301px var(--padding-43xl);
  box-sizing: border-box;
  gap: 30px;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: 64px;
  color: var(--primary-contrast);
  font-family: var(--font-kanit);
}
@media screen and (max-width: 1200px) {
  .frame-parent {
    padding-bottom: 69px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .platform-migration-made-container {
    font-size: 51px;
  }
  .experience-hassle-free {
    font-size: 48px;
  }
  .div {
    font-size: var(--font-size-21xl);
  }
  .h2 {
    font-size: 56px;
  }
  .premium-features {
    font-size: var(--font-size-5xl);
  }
  .accelerate-success-with-container {
    font-size: var(--font-size-7xl);
  }
  .language-to-language,
  .operating-system-to,
  .sql-to-no-sql {
    font-size: var(--font-size-13xl);
  }
  .frame-parent1 {
    flex: 1;
  }
  .for-dev {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 750px) {
  .platform-migration-made-easy-n-parent {
    gap: var(--gap-mid);
  }
  .frame-group {
    gap: var(--gap-5xl);
  }
  .frame-parent {
    padding-bottom: 45px;
    box-sizing: border-box;
  }
  .for-dev-inner {
    min-width: 100%;
  }
  .frame-parent4 {
    gap: var(--gap-mid);
  }
  .frame-parent5 {
    flex-wrap: wrap;
  }
  .frame-parent3 {
    padding-bottom: var(--padding-33xl);
    box-sizing: border-box;
  }
  .frame-parent3,
  .frame-parent6 {
    gap: var(--gap-lgi);
  }
  .frame-parent1 {
    gap: var(--gap-14xl);
    min-width: 100%;
  }
  .for-dev {
    padding-left: var(--padding-12xl);
    padding-right: var(--padding-10xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .platform-migration-made-container {
    font-size: 38px;
  }
  .streamline-platform-migration-container {
    font-size: var(--font-size-lg);
  }
  .get-started {
    font-size: var(--font-size-base);
  }
  .experience-hassle-free {
    font-size: 36px;
  }
  .transform-your-software {
    font-size: var(--font-size-lg);
  }
  .visit-migrator {
    font-size: var(--font-size-base);
  }
  .div {
    font-size: var(--font-size-5xl);
  }
  .h2 {
    font-size: 42px;
  }
  .premium-features {
    font-size: var(--font-size-lg);
  }
  .parent {
    flex: 1;
  }
  .frame-parent4 {
    flex-wrap: wrap;
  }
  .accelerate-success-with-container {
    font-size: 19px;
  }
  .language-to-language,
  .operating-system-to,
  .sql-to-no-sql {
    font-size: var(--font-size-5xl);
  }
  .frame-parent1 {
    gap: 16px;
  }
}
