.logo-1-icon3 {
  height: 47.1px;
  width: 186.6px;
  position: relative;
  object-fit: cover;
}
.home-icon2 {
  height: 40px;
  width: 40px;
  position: relative;
  cursor: pointer;
}
.frame-wrapper2,
.home-wrapper {
  display: flex;
  align-items: flex-start;
}
.home-wrapper {
  cursor: pointer;
  border: 0;
  padding: var(--padding-9xs) var(--padding-3xs);
  background-color: var(--color-cadetblue);
  border-radius: var(--br-41xl);
  overflow: hidden;
  flex-direction: row;
  justify-content: flex-start;
}
.frame-wrapper2 {
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 6.6px;
}
.logo-1-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.sign-in {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.02em;
  font-weight: 700;
  font-family: inherit;
}
.email-address1 {
  width: calc(100% - 55.8px);
  border: 0;
  outline: 0;
  font-family: var(--font-archivo);
  font-size: var(--font-size-base);
  background-color: transparent;
  height: 17px;
  flex: 1;
  position: relative;
  letter-spacing: 0.24px;
  color: var(--light-text);
  text-align: left;
  display: flex;
  align-items: center;
  min-width: 150px;
  max-width: calc(100% - 29px);
  padding: 0;
}
.iconaccount1 {
  height: 20px;
  width: 20px;
  position: relative;
  min-height: 20px;
}
.email1,
.password3 {
  display: flex;
  align-items: center;
}
.email1 {
  align-self: stretch;
  border-radius: var(--br-9xs);
  background-color: var(--primary-contrast);
  border: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
  overflow: hidden;
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-sm) var(--padding-mid) var(--padding-sm)
    var(--padding-lg-8);
  gap: var(--gap-3xs-4);
  max-width: 100%;
}
.password3 {
  width: calc(100% - 55.8px);
  border: 0;
  outline: 0;
  font-family: var(--font-archivo);
  font-size: var(--font-size-base);
  background-color: transparent;
  height: 17px;
  flex: 1;
  position: relative;
  letter-spacing: 0.24px;
  color: var(--light-text);
  text-align: left;
  min-width: 150px;
  max-width: calc(100% - 29px);
  padding: 0;
}
.iconpassword2 {
  height: 20px;
  width: 20px;
  position: relative;
  min-height: 20px;
}
.form-fields1,
.password2 {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.password2 {
  border-radius: var(--br-9xs);
  background-color: var(--primary-contrast);
  border: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-sm) var(--padding-mid) var(--padding-sm)
    var(--padding-lg-8);
  gap: var(--gap-3xs-4);
}
.form-fields1 {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-base-7);
}
.button1 {
  width: 54px;
  position: relative;
  font-size: var(--font-size-base);
  letter-spacing: 0.46px;
  line-height: 26px;
  font-weight: 600;
  font-family: var(--font-archivo);
  color: var(--primary-contrast);
  text-align: center;
  display: inline-block;
  min-width: 54px;
}
.search-flights-button1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-smi) 53px;
  background-color: var(--color-cadetblue);
  border-radius: var(--br-7xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.search-flights-button1:hover {
  background-color: var(--color-teal);
}
.form4 {
  margin: 0;
  gap: var(--gap-7xl-7);
}
.form3,
.form4,
.sign-in-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.sign-in-parent {
  gap: var(--gap-5xl);
  font-size: var(--font-size-7xl);
}
.form-child,
.or-sign-in {
  align-self: stretch;
  position: relative;
}
.form-child {
  height: 2px;
  border-top: 1.6px solid var(--color-whitesmoke-300);
  box-sizing: border-box;
}
.or-sign-in {
  letter-spacing: 0.02em;
  line-height: 26px;
}
.image-icon3 {
  width: 40px;
  height: 40.5px;
  position: relative;
  object-fit: contain;
}
.text1 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.24px;
}
.social-login3 {
  flex: 1;
  border-radius: var(--br-5xs);
  background-color: var(--color-whitesmoke-100);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-6xl) var(--padding-sm-1);
  box-sizing: border-box;
  gap: var(--gap-lg);
  min-width: 125px;
}
.image-icon4 {
  width: 40px;
  height: 40.5px;
  position: relative;
  object-fit: contain;
}
.text2 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.24px;
  display: inline-block;
  min-width: 73px;
}
.social-login4 {
  flex: 0.5668;
  border-radius: var(--br-5xs);
  background-color: var(--color-whitesmoke-100);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-6xl) var(--padding-22xl);
  box-sizing: border-box;
  gap: var(--gap-lg);
  min-width: 125px;
}
.image-icon5 {
  width: 40px;
  height: 40.5px;
  position: relative;
  object-fit: contain;
}
.text3 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.24px;
}
.social-login5 {
  flex: 1;
  border-radius: var(--br-5xs);
  background-color: var(--color-whitesmoke-100);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-6xl) var(--padding-sm-1);
  box-sizing: border-box;
  gap: var(--gap-lg);
  min-width: 125px;
}
.social-login-container1,
.social-media-login1 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.social-login-container1 {
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 var(--padding-9xs) 0 0;
  gap: 14px 12px;
  text-align: center;
  color: var(--light-text);
}
.social-media-login1 {
  flex-direction: column;
  gap: var(--gap-3xs);
}
.sign-up {
  color: var(--color-cadetblue);
}
.dont-have-an-container {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.02em;
  line-height: 26px;
  text-align: center;
}
.form-container,
.form2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.form2 {
  flex: 1;
  background-color: var(--primary-contrast);
  flex-direction: column;
  padding: var(--padding-21xl) var(--padding-29xl);
  box-sizing: border-box;
  gap: 37.2px;
}
.form-container {
  width: 589px;
  border-radius: var(--br-5xs);
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
}
.wireframe-3,
.wireframe-3-inner {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.wireframe-3-inner {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 3px 0 0;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--dark);
  font-family: var(--font-archivo);
}
.wireframe-3 {
  width: 100%;
  position: relative;
  background-color: var(--color-gray-100);
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-16xl-5) var(--padding-39xl-4) 235.5px
    var(--padding-43xl);
  gap: 145.4px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 650px) {
  .form2,
  .wireframe-3 {
    box-sizing: border-box;
  }
  .form2 {
    padding-top: var(--padding-7xl);
    padding-bottom: var(--padding-7xl);
  }
  .wireframe-3 {
    gap: 73px;
    padding-left: var(--padding-12xl);
    padding-right: var(--padding-10xl);
  }
}
@media screen and (max-width: 625px) {
  .form2 {
    gap: var(--gap-lgi);
    padding-left: var(--padding-5xl);
    padding-right: var(--padding-5xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .sign-in {
    font-size: var(--font-size-2xl);
  }
  .wireframe-3 {
    gap: 36px;
  }
}
